* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffcf4;
}
.header {
    margin-top: 36px;
    height: calc(100vh - 36px);
    padding-bottom: 65px;
}
.header-body {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fffcf4;
}
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    /* position: relative;
    left: calc((100% - 942px) / 2); */
    margin-left: auto;
    margin-right: auto;
}
.btn {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    border-radius: 24.5px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.header-body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.logo {
    margin-right: auto;
}
.nav-list {
    display: flex;
    margin-right: 28px;
}
.nav-item {
}
.nav-item-link {
    color: #5f5b53;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    text-decoration: none;
    margin-right: 42px;
}
.nav-item-link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    text-decoration: underline;
}
.btn-sign-up {
    padding: 10px 41px;
    background: #171100;
}
/* hero */
.hero {
    display: flex;
    margin-top: 57px;
    position: relative;
}
.hero-picture {
    width: 470px;
    height: 685px;
    overflow: hidden;
    position: relative;
    height: 631px;
    border-radius: 20px;
}
.hero-picture img {
    height: 781px;
    position: absolute;
    right: -353px;
    bottom: 0;
}

.info {
    margin-left: 230px;
    width: 470px;
}
.info h1 {
    margin-top: 64px;
    margin-bottom: 22px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
}
.info .desc {
    margin-bottom: 38px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}
.btns-hero {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
    margin-bottom: 48px;
}
.btn-see {
    padding: 17px 33px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
    border: none;
    cursor: pointer;
}
.btn-play {
    vertical-align: middle;
    overflow: hidden;
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
    margin-left: 28px;
    margin-right: 14px;
    border-radius: 50%;
}
.btn-play img {
    position: relative;
    top: -7px;
    left: -16px;
    cursor: pointer;
}
.title-data {
    margin-bottom: 8px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.number {
    display: inline-block;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.2272; /* 122.727% */
}
.desc-number {
    display: inline-block;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
    align-self: start;
    margin-left: 14px;
    margin-right: 28px;
}
.card {
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 300px;
    bottom: 48px;
    padding: 17px 24px;
}
.item-courses {
    display: flex;
    margin: 7px 0;
}
.item-courses img {
    height: 48px;
    align-self: center;
}
.desc-courses {
    margin-left: 16px;
}
.quantity {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}
.name-courses {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}
.info-course {
    background-color: #ffb900;
    height: 600px;
}
/* thông tin các khóa phổ biến */
.info-courses {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #fff;
}
.title-courses {
    margin-bottom: 16px;
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316; /* 126.316% */
    letter-spacing: -0.76px;
}
.sub-title-courses {
    width: 458px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
    margin-bottom: 55px;
}
.info-courses .content {
    position: relative;
}
.arrow2 {
    position: absolute;
    top: 42px;
    right: 0;
}
.list-popular-courses {
    display: flex;
    justify-content: space-between;
}
.item-popular-courses {
    width: 370px;
    border-radius: 12px;
    border: 2px solid #e2dfda;
}
.img-popular-course {
    display: block;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}
.img-pc-1 {
    width: 106%;
    position: relative;
    top: -151px;
    left: -9px;
}
.img-pc-2 {
    width: 106%;
    position: relative;
    top: -154px;
    left: -17px;
}
.img-pc-3 {
    width: 117%;
    position: relative;
    top: -178px;
    left: -26px;
}
.info-courses .desc-courses {
    margin: 16px 22px 22px;
}
.name-popular-course {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}
.reviews {
    display: flex;
    align-items: center;
}
.star {
    margin-right: 6px;
    width: 18px;
}
.number-star {
    margin-top: 3px;
    color: #fea31b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.desc-course {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
    margin-bottom: 12px;
}
.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cost {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}
.btn-book {
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85714; /* 185.714% */
    padding: 12px 24px;
    border: none;
}
.btn-book:hover {
    background: #ffb900;
}
/* passage-quote */
.passage-quote {
    background: #2e2100;
}
.passage-quote .content {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
}
.info-student {
    margin-right: 271px;
}
.wrap-img-student {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    overflow: hidden;
    margin-bottom: 18px;
}
.img-student {
    width: 149%;
    position: relative;
    top: 5px;
    left: -21px;
}
.name-student {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667; /* 141.667% */
    margin-bottom: 4px;
}
.desc-student {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
    margin-bottom: 28px;
}
.messenger {
    width: 740px;
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53846; /* 153.846% */
    margin-top: 28px;
    position: relative;
}
.inverted {
    position: absolute;
    top: -28px;
    left: -30px;
}
